<div class="side_left">
  <div class="content_block">
    <h4>RFID</h4>
    <br/>
    {% for uid in rfid %}
      <div class="content_bord">
        <h5 user="{{user_id}}" {% if uid.activ %} class="yes_activ" {% else %} class="no_activ" {% endif %} id="rfid_{{uid.id}}">{{uid.rfid}}</h5>
        <p class="btn btn_lite delete_rfid" rfid="{{uid.id}}" user="{{user_id}}"">Удалить</p>
        <p class="btn btn_lite change_activ_rfid" rfid="{{uid.id}}" user="{{user_id}}"> {% if uid.activ %} Деактевировать {% else %} Актевировать {% endif %} </p>
      </div>
    {% endfor %}
  </div>
</div>
